*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E0E0E0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.0;
  width: auto;
}

.container {
  margin: 0 auto;
  width: 420px;    
}

nav {
  margin: 0 auto; 
  padding-top: 10px;
  background-color: #003470;
  width: 420px;
}
    
div.arrow-left {
    color: #C7C7C7;
    margin: 0px;
    padding: 10px 20px 0 0;
    height: 0px;
    width: 0px;
    float: right;
}

/*Washington and State*/
h1 {
  font-size: 1.2em;
  margin: 0px;
  padding: 5px;
  text-align: center;
  font-weight: 550;
}

/*destination*/
h2 {
background-color: #FFFFFF;
color: #003470;
font-size: 1.4em;
font-weight: 550;
margin: 0px;
padding: 5px;
}

/*line and frequency*/
h3 {
background-color: #FFFFFF;
color: #4A4A4A;
font-size: 1.1em;
font-weight: 500;
margin: auto;
padding:5px;
}

/*route*/
h4 {
background-color: #FFFFFF;
color: #003470;
font-size: 1.0em;
font-weight: 400;
margin: 0px;
padding: 5px;
}

/*statusbar*/
h5 {
background-color: #003470;
color: #FFFFFF;
font-size: .90em;
font-weight: 550;
margin: 0px;
padding-bottom: 5px;
}

/*Busroute details*/
div.busstop {
  padding: 20px 0 0 10px;
  margin: 0;
  float: left;
}

h4 {
  letter-spacing: .09em;
}

h4 {
  line-height: 1.2em;
}
