*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E0E0E0;
  font-family: sans-serif;
  font-size: 16px;
  width: auto;
}

.container {
  margin: 0 auto;
  width: 420px;
  background-color: #E0E0E0;
}

/*statusbar*/
.statusbar {
  background-image: url(images/statusbar.png);
  background-position: top;
  background-color: #003470;
  display: inline;  
}

.board {
    background-color: #003470;
    color: #FFFFFF;
    margin: auto;
    height: 50px;
    width: 420px;
}

.nav {
  padding: 5px;
  background-color: #003470;
  color: #003470;
  height: 50px;
  width: 420px;
}
    
div.arrow-left {
    color: #C7C7C7;
    margin: 0px;
    padding-top: 15px;
    padding-left: 10px;
    height: 0px;
    width: 0px;
    float: left;
}

div.arrow {
    color: #003470;
    margin: 0px;
    float: right;
}     

/*Busroute details*/
div.busstop {
  padding: 20px 0 0 10px;
  margin: 0;
  float: left;
}
  
/*Washington and State*/
h1 {
  background-color: #003470;  
  font-size: 1.6em;
  margin: 0px;
  padding: 12px;
  text-align: center;
  font-weight: 500;
  color: #FFFFFF;
}

/*destination*/
h2 {
background-color: #FFFFFF;
color: #003470;
font-size: 1.0em;
font-weight: 500;
margin: 0px;
padding: 0px;
  
}

/*line*/
h3 {
background-color: white;
color: gray;
font-size: 1.0em;
font-weight: 500;
margin: 0;
padding: 0;
display: inline;  
}

/*route*/
h4 {
background-color: #FFFFFF;
color: #003470;
font-size: 1.1em;
font-weight: 5000;
margin: auto;
display: inline;  
}

/*frequency*/
h5 {
background-color: #003470;
color: #FFFFFF;
font-size: 1.0em;
font-weight: 450;
margin: 0px;
padding-bottom: 0px;  
display: inline;  
}    
 
h4 {
  letter-spacing: .09em;
}

h4 {
  line-height: initial;
}
