*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E0E0E0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.6;
  width: auto;
}

.container {
  margin: 0 auto;
  width: 420px;    
}

/*statusbar*/
.statusbar {
  background: url('images/statusbar.png');
  background-position: top;
  background-color: #003470;
  display: block;  
}

.board {
    background-color: #003470;
    color: #C7C7C7;
    margin: auto;
    height: 20px;
    width: 420px;
}

.nav {
  margin: 0; 
  padding-top: 30px;
  background-color: #003470;
  width: 420px;
}
    
div.arrow-left {
    color: #C7C7C7;
    margin: 0px;
    padding: 5px;
    height: 0px;
    width: 0px;
    float: left;
}

div.arrow {
    color: #003470;
    margin: 0px;
    float: right;

}     

/*Busroute details*/
div.busstop {
  padding: 20px 0 0 10px;
  margin: 0;
  float: left;
}

/*Washington and State*/
h1 {
  font-size: 1.6em;
  margin: 0px;
  padding: 12px;
  text-align: center;
  font-weight: 500;
  color: #ffffff
}

/*destination*/
h2 {
background-color: #FFFFFF;
color: #003470;
font-size: 1.2em;
font-weight: 500;
margin: 0px;
padding: 5px;
float: center;  
}

/*line*/
h3 {
background-color: #FFFFFF;
color: #4A4A4A;
font-size: 1.2em;
font-weight: 500;
margin: auto;
padding:5px;
float: left;
text-align: center;  
}

/*route*/
h4 {
background-color: #FFFFFF;
color: #003470;
font-size: 1.1em;
font-weight: 450;
margin: 0px;
padding: 5px;
}

/*frequency*/
h6 {
background-color: #FFFFFF;
color: #;
font-size: 1.3em;
font-weight: 500;
margin: 0px;
padding-bottom: 5px;  
text-align: right;  
}    
 
h4 {
  letter-spacing: .09em;
}

h4 {
  line-height: initial;
}
