*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E0E0E0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: #E0E0E0;
}

/*statusbar*/
.statusbar {
  background-image: url(images/StatusBar.png);
  background-position: top;
  background: rgba(0,52,112,1);
  width: auto;
  top:0px;
  right:0px;
  left:0px;
  display: block; 
}

.nav {
  background: rgba(0,52,112,1); 
  color: #003470;
  padding: 5px;
  height: 200px;
  width: auto;  
}

 .arrow-left {
  color: #FFFFFF;
  position: relative;
  top: 18px;
  right: -10px;
  float: left; 
}  
 
.board {
  background: #003470;
  padding: 10px;
  width: auto;
}

/*tabbar*/
.tabbar {
  background-image: url(images/TabBar.png);
  width: auto;
  top: 49px;
  right:0px;
  left:0px;
}

/*Busroute details*/
 .busstop {
  color: #003470;   
  width: 10%; 
  padding: 10px;
  padding-top: 16px; 
  float: left;
}
  
 .arrow {
  color: #C7C7CC;
  width: 5%;
  padding-top: 13px; 
  float: right; 
}     

  #main {
  background-color: #E0E0E0;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0 auto 0 auto;
  width: auto;
  overflow: scroll;
  overflow-x: hidden;
}

 .routelist {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E0E0E0;
  font-size: .75em;
  font-weight: 400;
  padding: 5px;
  height: 75px;
  width: auto;
}

 .linenumber {
  width: 12%;
  padding-top: 22px; 
  float: left;   
}

 .destinationEB1 {
  width: 50%;
  padding-top: 20px;
  float: left;
}

 .destinationEB2 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

 .destinationNB1 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

 .destinationSB1 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

 .destinationSB2 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

 .destinationSB3 {
  position: relative;
  top: 20px;
  right: -50px; 
  float: left;
}

 .destinationSB4 {
  position: relative;
  top: 20px;
  right: -60px; 
  float: left;
}

 .destinationSB5 {
  position: relative;
  top: 20px;
  right: -50px; 
  float: left;
}

 .destinationSB6 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

 .frequency {
  width: 14%;
  padding-top: 2px; 
  float: right;
}

 .frequencyNA {
  padding: relative;
  top: 18px;
  width: 50px;   
  float: right;
}

 .frequencyresumes {
  position: relative;
  top: 18px;
  right: 2px;
  float: right;   
}

/*Destination: Devon/Clark*/
h1 {
  background-color: #003470;  
  font-size: 1.3em;
  margin: 0px;
  padding: 23px;
  text-align: center;
  font-weight: 500;
  color: #FFFFFF;
}

/*frequency*/
h2 {
  background-color: #FFFFFF;
  color: #4A4A4A;
  font-size: 1.3em;
  font-weight: 500;
  margin: auto; 
  letter-spacing: .09em;
  line-height: .9em;
}

/*line*/
h3 {
  background-color: #FFFFFF;
  color: #003470;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  padding: 0; 
  display: inline;
  letter-spacing: .09em;
  line-height: .4em;
}

/*destination*/
h4 {
  background-color: #FFFFFF;
  color: #4A4A4A;
  font-size: 1.2em;
  font-weight: normal;
  margin: auto; 
  letter-spacing: .09em;
  line-height: 2.0em;
}

h5 {
  background-color: #003470;
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: 500;
  margin: auto; 
  display: block;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
