*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E0E0E0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: #E0E0E0;
}

/*statusbar*/
.statusbar {
  background-image: url(images/StatusBar.png);
  background-position: top;
  background-color: rgba(0, 52, 115, 1);
  width: auto;
  top:0px;
  right:0px;
  left:0px;
  display: block; 
}


.nav {
  padding: 5px;
  height: 200px;
  background: linear-gradient(to bottom, #003470 0%, #115CB3 100%)
  color: #003470;
  width: auto;  
}


 .arrow-left {
  color: #FFFFFF;
  margin: 0px;
  padding: 17px 0 0 10px;
  height: 11px;
  width: 10px;
  float: left;
}

   

 .ellipsis-right {
  color: #FFFFFF;
  margin: 0px;
  padding-right: 10px;
  height: 0px;
  width: 0px;
  display: list-item;
}

 
.board {
  background-color: #003470;
  padding: 10px;
  width: auto;
}


/*tabbar*/
.tabbar {
  background-image: url(images/TabBar.png);
  width: auto;
  top: 49px;
  right:0px;
  left:0px;
}


/*Busroute details*/
 .busstop {
  color: #003470;   
  position: relative; 
  float: left;
  top: 15px; 
}
  
 .arrow {
  color: #C7C7CC;
  padding: 14px 10px 0 0;  
  float: right;
}     

div#main {
  background-color: #E0E0E0;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0 auto 0 auto;
  width: auto;
  overflow: scroll;
  overflow-x: hidden;
}

 .routelist {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E0E0E0;
  font-size: .75em;
  font-weight: 400;
  padding: 5px;
  height: 75px;
  width: auto;
}

 .linenumber {
  position: relative;
  top: 20px;
  right: -10px; 
  float: left;   
}

 .destinationEB1 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

div.destinationEB2 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

div.destinationNB1 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

div.destinationSB1 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

div.destinationSB2 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

div.destinationSB3 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

div.destinationSB4 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

div.destinationSB5 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

div.destinationSB6 {
  position: relative;
  top: 20px;
  right: -40px; 
  float: left;
}

 .frequency {
  position: relative;
  top: 20px;
  width: 80px; 
  float: right;
}

 .frequencyNA {
  padding: 22px 60px 0 0;
  margin: 0;
  float: right;
  text-align: left;
}

 .frequencyresumes {
  padding: 15px 10px 5px 10px;
  margin: 0;
  float: right;
  text-align: left;
}

/*Washington and State*/
h1 {
  background-color: #003470;  
  font-size: 1.3em;
  margin: 0px;
  padding: 23px;
  text-align: center;
  font-weight: 550;
  color: #FFFFFF;
}

/*frequency*/
h2 {
  background-color: #FFFFFF;
  color: #4A4A4A;
  font-size: 1.3em;
  font-weight: 500;
  margin: auto;   
}

/*line*/
h3 {
  background-color: #FFFFFF;
  color: #003470;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  padding: 0; 
  display: inline;
}

/*destination*/
h4 {
  background-color: #FFFFFF;
  color: #4A4A4A;
  font-size: 1.2em;
  font-weight: normal;
  margin: auto; 
}

h5 {
  background-color: #003470;
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: 500;
  margin: auto; 
  display: block;
}

 /*spacing between letters*/
h2 {
  letter-spacing: .09em;
}

h3 {
  letter-spacing: .09em;
}

h4 {
  letter-spacing: .09em;
}

/*spacing*/
h2 {
  line-height: .9em;
}

h3 {
  line-height: .4em;
}

h4 {
  line-height: 2.0em;
}

.alert {
  color: red;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
