*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E0E0E0;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  width: auto;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background-color: #E0E0E0;
}

/*statusbar*/
.statusbar {
  background-image: url(images/StatusBar.png);
  background-position: top;
  background-color: #004798;
  position:fixed;
  top:0px;
  right:0px;
  left:0px;
  display: block; 
}


.nav {
  padding: 5px;
  background-color: rgba(0, 52, 115, 1);
  color: #003470;
  height: 200px;
  width: 375px;  
}


div.arrow-left {
  color: #FFFFFF;
  margin: 0px;
  padding-left: 10px;
  height: 0px;
  width: 0px;
  display: list-item;
}

 
.board {
  background-color: #003470;
  padding: 10px;
  width: 375px;
}


/*tabbar*/
.tabbar {
  background-image: url(images/TabBar.png);
  width: 375px;
  position:fixed;
  top: 49px;
  right:0px;
  left:0px;
}


/*Busroute details*/
div.busstop {
  padding: 20px 0 0 10px;
  color: #003470 
}
  
div.arrow {
  color: #003470;
  margin: 0px;
  padding: 20px 10px 0 0;  
  float: right;
}     

div#main {
  background-color: #E0E0E0;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0 auto 0 auto;
  width: 375px;
  height: 380px;
  overflow: scroll;
  overflow-x: hidden;
}

.routelist {
  background-color: white;
  border-bottom: 1px solid #E0E0E0;
  font-size: .75em;
  font-weight: 400;
  padding: 5px;
  height: 75px;
  width: 375px;
}

div.busstop {
  padding: 20px 0 0 10px;
  margin: 0;
  float: left;
  color: #003470;
}

div.linenumber {
  padding: 28px 0 0 10px;
  margin: 0;
  float: left;
  display: inline; 
}

div.destinationEB1 {
  padding: 25px 20px 0 40px;
  margin: 0;
  padding-top: 25px;
  float: left;
  text-align: left;
}

div.destinationEB2 {
  padding: 25px 20px 0 30px;
  margin: 0;
  padding-top: 25px;
  float: left;
  text-align: left;
}

div.destinationNB1 {
  padding: 25px 20px 0 30px;
  margin: 0;
  padding-top: 25px;
  float: left;
  text-align: left;
}

div.destinationSB1 {
  padding: 25px 20px 0 30px;
  margin: 0;
  padding-top: 25px;
  float: left;
  text-align: left;
}

div.destinationSB2 {
  padding: 25px 20px 0 30px;
  margin: 0;
  padding-top: 25px;
  float: left;
  text-align: left;
}

div.destinationSB3 {
  padding: 30px 20px 0 40px;
  margin: 0;
  padding-top: 25px;
  float: left;
  text-align: left;
}

div.destinationSB4 {
  padding: 15px 10px 0 50px;
  margin: 0;
  padding-top: 25px;
  float: left;
  text-align: left;
}

div.destinationSB5 {
  padding: 15px 10px 0 40px;
  margin: 0;
  padding-top: 25px;
  float: left;
  text-align: left;
}

div.destinationSB6 {
  padding: 25px 0px 10px 30px;
  margin: 0;
  padding-top: 25px;
  float: left;
  text-align: left;
}

div.frequency {
  padding: 25px 15px 0 0;
  margin: 0;
  float: right;
  text-align: right;
  display: inline;
}

div.frequencyNA {
  padding: 22px 60px 0 0;
  margin: 0;
  float: right;
  text-align: left;
}

div.frequencyresumes {
  padding: 15px 10px 5px 10px;
  margin: 0;
  float: right;
  text-align: left;
}

/*Washington and State*/
h1 {
  background-color: #004798;  
  font-size: 1.3em;
  margin: 0px;
  padding: 23px;
  text-align: center;
  font-weight: 550;
  color: #FFFFFF;
}

/*frequency*/
h2 {
  background-color: #FFFFFF;
  color: #4A4A4A;
  font-size: 1.2em;
  font-weight: 550;
  margin: auto;
  padding: 0px;  
}

/*line*/
h3 {
  background-color: #FFFFFF;
  color: 4A4A4A;
  font-size: 1.3em;
  font-weight: 550;
  margin: 0;
  padding: 0; 
  display: inline;
}

/*destination*/
h4 {
  background-color: #FFFFFF;
  color: #003470;
  font-size: 1.1em;
  font-weight: 500;
  margin: auto; 
}

h5 {
  background-color: #003470;
  color: #FFFFFF;
  font-size: 1.1em;
  font-weight: 500;
  margin: auto; 
  display: block;
}

 /*spacing between letters*/
h2 {
  letter-spacing: .07em;
}

h3 {
  letter-spacing: .09em;
}

h4 {
  letter-spacing: .09em;
}

/*spacing*/
h2 {
  line-height: 1.2em;
}

h3 {
  line-height: .4em;
}

h4 {
  line-height: 1.8em;
}

.alert {
  color: red;
}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
