*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E0E0E0;
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  width: auto;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background-color: #E0E0E0;
}

/*statusbar*/
.statusbar {
  background-image: url(Images/statusbar.png);
  background-position: top;
  background-color: #003470;
  display: block;  
}

.nav {
  padding: 5px;
  background-color: #003470;
  color: #003470;
  height: 50px;
  width: 375px;
  
}

div.arrow-left {
  color: #C7C7C7;
  margin: 0px;
  padding-left: 10px;
  height: 0px;
  width: 0px;
}
 
.board {
  background-color: #003470;
  color: #FFFFFF;
  margin: 0 0 10px 5px;
  padding: 8px;
  height: 20px;
  width: 375px;
}

/*Busroute details*/
div.busstop {
  color: #003470
  margin: 0;
  padding: 20px 0 0 10px;
  float: left;
}
  
div.arrow {
  color: #003470;
  margin: 0px;
  padding: 20px 25px 0 0;  
  float: right;
}     

div#main {
  background-color: #E0E0E0;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0 auto 0 auto;
  width: 375px;
  height: 380px;
  overflow: scroll;
  overflow-x: hidden;
}

.routelist {
  background-color: white;
  border-bottom: 1px solid #E0E0E0;
  font-size: .75em;
  font-weight: 400;
  padding: 5px;
  height: 75px;
  width: 375px;
}

div.bustop {
  padding: 20px 0 0 10px;
  margin: 0;
  float: left;
  color: #003470;
}

div.linenumber {
  padding: 28px 0 0 10px;
  margin: 0;
  float: left;
}

div.destinationEB1 {
  padding: 20px 0 0 32px;
  margin: 0;
  float: left;
  text-align: left;
}

div.frequency {
  padding: 15px 45px 0 0;
  margin: 0;
  float: right;
  text-align: left;
}

div.frequencyNA {
  padding: 22px 60px 0 0;
  margin: 0;
  float: right;
  text-align: left;
}

div.frequencyresumes {
  padding: 15px 20px 0 0;
  margin: 0;
  float: right;
  text-align: left;
}

/*Washington and State*/
h1 {
  background-color: #003470;  
  font-size: 1.3em;
  margin: 0px;
  padding: 5px;
  text-align: center;
  font-weight: 550;
  color: #FFFFFF;
}

/*frequency*/
h2 {
  background-color: #FFFFFF;
  color: #4A4A4A;
  font-size: 1.1em;
  font-weight: 550;
  margin: auto;
  padding: 0px;
  
}

/*line*/
h3 {
  background-color: #FFFFFF;
  color: 4A4A4A;
  font-size: 1.1em;
  font-weight: 550;
  margin: 0;
  padding: 0;  
}

/*destination*/
h4 {
  background-color: #FFFFFF;
  color: #003470;
  font-size: 1.1em;
  font-weight: 5000;
  margin: auto; 
}

/*statusbar*/
h5 {
  background-color: #003470;
  color: #FFFFFF;
  font-size: .90em;
  font-weight: 550;
  margin: auto;
  padding-bottom: 5px;  
}  

 /*spacing between letters*/
h2 {
  letter-spacing: .07em;
}

h3 {
  letter-spacing: .09em;
}

h4 {
  letter-spacing: .09em;
}

h5 {
  letter-spacing: .08em;
}

/*spacing between words/sentences */
h2 {
  line-height: 1.2em;
}

h3 {
  line-height: .4em;
}

h4 {
  line-height: .4em;
}


